<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wordwhiz_logo"
        android:label="Word Whiz"
        android:roundIcon="@drawable/wordwhiz_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.THESIS_APP">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Word Whiz"
            android:theme="@style/Theme.THESIS_APP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Word Whiz"
            android:theme="@style/Theme.THESIS_APP"/>
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:label="Word Whiz"
            android:theme="@style/Theme.THESIS_APP"/>
        <activity
            android:name=".StudentListActivity"
            android:exported="true"
            android:label="Word Whiz"
            android:theme="@style/Theme.THESIS_APP"/>
        <activity
            android:name=".TeacherActivity"
            android:exported="true"
            android:label="Word Whiz"
            android:theme="@style/Theme.THESIS_APP"/>
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="Word Whiz"
            android:theme="@style/Theme.THESIS_APP"/>

        <activity android:name=".ClassDetailActivity" />
    </application>

</manifest>