<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thesis_app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wordwhiz_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wordwhiz_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.THESIS_APP">

        <!-- Boot receiver to re-schedule workers -->
        <receiver
            android:name=".notifications.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.THESIS_APP"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StudentProgressActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="Student Progress" />

        <!-- Other activities -->
        <activity android:name=".TeacherActivity" />
        <activity android:name=".QuizActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".LoadingActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".StudentActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".SignupActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".ClassDetailActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".PreAssessmentActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".ProgressListActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".TeacherIntroActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".QuizDetailActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".SpellingAchievementsActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".AboutUsActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".TermsAndCActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name=".LectureReviewActivity" android:exported="true" android:screenOrientation="portrait" />
    </application>
</manifest>
